@model BankingSystem_Challenge.ViewModels.TransactionHistoryViewModel;
@{
    ViewData["Title"] = "Transaction";
}

<div class="row mt-4 mb-4">
    <div class="row mt-4">
        <div class="col-6">
            <h4>
                <strong class="text-danger">
                    <i class="bi bi-wallet2"></i> My balance : @Model.iban
                </strong>
            </h4>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-action="Verify" asp-controller="FinancialTransactions">
                <i class="bi bi-arrow-repeat"></i> Transfer
            </a>
        </div>
    </div>
    <div class="row mt-2">
        <h1>
            <strong>
                <i class="bi bi-cash-coin"></i> @Model.balance
            </strong>
        </h1>
    </div>

    <hr />
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td scope="col"><strong>Transaction Type</strong></td>
                    <td scope="col"><strong>Account Name</strong></td>
                    <td scope="col"><strong>IBAN</strong></td>
                    <td scope="col"><strong>Amount</strong></td>
                    <td scope="col"><strong>Transaction Date</strong></td>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @foreach (var item in Model.transactionListViewModels)
                {
                    <tr>
                        <td>@item.TransactionType</td>
                        <td>@item.AccountName</td>
                        <td>@item.Iban</td>
                        
                            @if (@item.TransactionType == "Transfer To")
                            {
                            <td class="text-danger fw-bold">
                                -@item.Amount
                            </td>
                            }
                            else
                            {
                            <td class="text-success fw-bold">
                                @item.Amount
                            </td>
                            }                        
                        <td>@item.DateExcute</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row mt-3 text-center">
        <a asp-action="Index" asp-controller="Home">
            <i class="bi bi-chevron-left"></i> Back to Home
        </a>
    </div>
</div>